## ssh config for k8s cluster

{% for host in groups['all'] | sort %}{% set hostname = hostvars[host]['inventory_hostname'].split('.') %}
## {{ loop.index }} {{ hostvars[host]['inventory_hostname'] }}
Host {{ hostname[0] }} {{ hostvars[host]['inventory_hostname'] }}
  HostName {{ hostvars[host]['ansible_host'] }}
  User {{ ansible_user }}
  {% if ansible_user == 'root' %}
  IdentityFile /{{ ansible_user }}/.ssh/id_rsa
  {% else %}
  IdentityFile /home/{{ ansible_user }}/.ssh/id_rsa
  {% endif %}
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
{% endfor %} 

